/* body avec fond beige et police de caractères Arial */
body {
    background-color: #f5f5dc;
    font-family: Arial, sans-serif;
}

/*mettre par deux exercices dans un cadre avec une bordure noire et un fond blanc */
h1, h2 {
    border: 1px solid #000;
    background-color: #fff;
}

/* nav barre de navigation avec une bordure noire et un fond gris clair et les liens alignés */    
nav {
    border: 1px solid #000;
    background-color: #d3d3d3;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 400px;
    
}